/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    top: 0;
    z-index: 1;
    position: sticky;
    padding: 10px 20px;
    box-shadow: var(--box-shadow);
    /* opacity: 0.9; */
}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    transition: 0.2s all ease-in-out;
}

.nav-links a:hover {
    text-decoration: none;
    color: var(--main-color);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    width: 8rem;
}

/* Hamburger menu styles (for mobile) */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

/* Style for the button */
.my-button {
    background-color: var(--main-color);
    box-shadow: var(--button-shadow);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s all ease-in-out;
}

/* Hover effect */
.my-button:hover {
    background-color: var(--main-hover);
}


/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .burger-menu {
        display: flex;
    }
}