/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.nav-links {
    list-style: none;
    display: flex;
    
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
}
.nav-links a:hover {
    text-decoration: none;
    color: blue;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    width: 8rem;
}

/* Hamburger menu styles (for mobile) */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

/* Style for the button */
.my-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Font size */
}

/* Hover effect */
.my-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .burger-menu {
        display: flex;
    }
}