.container {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background: #fff;
    border-radius: 2px;

}

.container h2 {
    text-align: center;
    padding-top: 6%;
    margin-bottom: 60px;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;

}

.container h2::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background-color: var(--main-color);
    border-radius: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.row .service {
    padding: 25px 20px;
    background: transparent;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 15rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: justify;
    transition: 0.4s ease;

}

.row .service p {
    margin-top: 20px;
    /* color: var(--text-color); */
}

.row .service:hover {
    color: var(--text-white);
    background-color: var(--main-hover);
    transform: translateY(-10px);
    /* border: 2px dotted black; */
}
